.form-gap{
   max-width: 450px;
     >*{
        margin-block: 0.5rem !important;
     }
}

.navigate-back{
   padding: .5rem 0;
   display: flex;
   align-items: center;
   justify-content: flex-start;

   .back{
      cursor: pointer;
   }
}

.logo{
   width: 100%;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: center;

   img{
      cursor: pointer;
   }
}