.form-gap {
  max-width: 450px;
  > * {
    margin-block: 0.5rem !important;
  }
}
.sidebar {
  .css-cokf1l-MuiListItemIcon-root {
    min-width: fit-content !important;
    margin-right: 0.5rem;
  }
}

:root {
  --white: #ffffff;
  --orange: #e5781e;
  --yellow: #fbba00;
  --cream: #fedf9f;
  --smoke: #d1d0d0;
}

.navigate-back {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .back {
    cursor: pointer;
  }
}
.table-container {
  overflow: scroll;
  max-height: 85vh !important;
  scrollbar-color: var(--smoke) transparent;
  flex: 1;
  height: 100%;
}
.table-container:hover {
  scrollbar-color: var(--smoke) transparent;
}
.boolean {
  width: 10px;
  height: 10px;
  background-color: var(--orange);
  border-radius: 50%;
}
.logo {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    cursor: pointer;
  }
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  width: 100% !important;
  margin-top: 1.5rem;

  h2 {
    font-weight: 500;
    font-size: larger;
  }
  .rw {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;

    &.timeline {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 0.5rem;
    }
    .clmn {
      background-color: var(--white);
      padding: 6px 12px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      /* align-items: center;
         text-align: center; */
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);

      p {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
        list-style: none;
      }
      h6 {
        color: var(--orange);
      }
    }
  }
}

@media (max-width: 408px) {
  .title-header {
    font-size: clamp(1rem, 2.7vw, 4rem) !important;
    font-weight: 800;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    padding: 0 8% 0 0;
    gap: 1rem;

    .navigate-back {
      justify-self: flex-start !important;
    }
  }

  .table-container {
    padding: 1rem;
    width: 100%;
    overflow-x: scroll;
  }
  table {
    max-width: 100% !important;
  }

  .css-uf7mun {
    max-width: 100%;
    overflow-x: scroll;
  }
  .year-margin {
    margin: 0 !important;
  }
  .year-filter {
    flex: 1;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.table-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-inline-start: 0;
  > div {
    min-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;

    > * {
      flex: 1;
    }
  }
}

.btn-refresh {
  min-width: fit-content !important;
}

.planned-time-group,
.total-time-group {
  display: flex;
  gap: 0.5rem;
}

.activities-clmn {
  overflow: scroll;

  scrollbar-width: thin;
}

.pagination {
  position: fixed;
  bottom: 1rem;
  flex: 0;
  * {
    border-radius: 4px;
  }
}
.page-item {
  padding: 0.5rem;
  border: 1px solid #5d4037;
  list-style: none;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.active {
    background-color: #5d4037;
    color: white;
  }
}
.css-er619e-MuiFormHelperText-root {
  color: red !important;
}

tr .diactive{
  text-decoration: line-through;
}